 :root {
     --text: #000000;
     --background: #b1f0db;
     --primary: #000000;
     --secondary: #cf2acf;
     --accent: #9893eb;
 }

 body {
     color: var(--text);
     background: var(--background);
     font-family: "Epunda Slab";
 }

 h1{}
 
 h2 {
     font-size: 40px;
     font-weight: 500;
     color: #9893eb;
    }

 h3 {
     color: var(--primary);
     font-style: italic;
     text-decoration: underline dotted;
     border: 1px solid rgb(119, 170, 25);

 }

 p,

 li::marker {
     color: var(--primary)
 }

 img {
     padding: 4px;
     border: 4px solid var(--secondary);
     border-radius: 16px;
     background: var(--primary);
     animation: rotate360 3s infinite linear;
 }

 @keyframes rotate360 {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }


 audio {
     background: var(--secondary)
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     top: 0;
     left: 0;
     right: 0;
 }

 nav>ul {
     display: flex;
     list-style-type: none;
     gap: 40px;
 }

 .container {
    text-align: center;
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
 }

 #increment-btn {
    text-align: center;
    background: #2C2891;
}

#save-btn {
    text-align: center;
    background: #1C7947;
}

#save-el {
    text-align: center;
    font-weight: bold;
}


