 :root {
     --text: #000000;
     --background: #b1f0db;
     --primary: #000000;
     --secondary: #cf2acf;
     --accent: #9893eb;
 }

 body {
     color: var(--text);
     background: var(--background);
     font-family: "Epunda Slab";
 }

 h1{}

 h2 {
     font-size: 40px;
     font-weight: 500;
     color: #e35656;
    }

 h3 {
     color: var(--primary);
     font-style: italic;
     text-decoration: underline dotted;
     border: 1px solid rgb(119, 170, 25);

 }

 p,

 li::marker {
     color: var(--primary)
 }

 img {
     padding: 4px;
     border-radius: 16px;
     background: var(--primary);
 }

 audio {
     background: var(--secondary)
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     top: 0;
     left: 0;
     right: 0;
 }

 nav>ul {
     display: flex;
     list-style-type: none;
     gap: 40px;
 }

.menubutton button{
    background-color: #af72e8;

}